#iframe-wrapper {
    position:relative;
}
#iframe-overlay { /* Adjust values as needed */
    height:0px;
    width:100%;
    background-color:#ebe5cf;
    position:relative;
    top:-100px;
    left:0px;
}
