#iframe-wrapper {
    position:relative;
}
#iframe-overlay { /* Adjust values as needed */
    height:20px;
    width:100%;
    background-color:#fff;
    position:relative;
    top:-20px;
    left:0px;
}
