#iframe-wrapper {
    position:relative;
}
#iframe-overlay { /* Adjust values as needed */
    height:40%;
    width:100%;
    background-color:#fff;
    position:relative;
    top:10%;
    left:0px;
}
